.box{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;

    span{
        font-size: 22px;
        font-family: "Happy Monkey";
        font-weight: 1000;
        text-align: center;
        max-width: 375px;
    }

    .boxStructure {
        height: 200px;
        width: 310px;
        border: 2px solid #22758b;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
        margin-left: 20px;
        border-radius: 35px;
        background-color: #b5eeea;
        &:hover{
            background-color:#71d7d0;
        }
    
        span {
            text-transform: uppercase;
            color: #e9cc28;
            font-weight: 900;
            text-shadow: 3px 2px 1px #2e8ca6, 3px 3px 2px rgb(255, 166, 0);
            font-size: 27px;
            font-family: "Play";
        }
    
        img {
            height: 60%;
        }
    }
}
@media screen and (max-width: 320px) {
    .boxStructure {
        width: 200px;
        height: 100px;
        gap: 0px;
        span{
            font-size: 19px;
        }
    }
}